html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;    
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    display: flex;
    font-family: sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 4px 30px;
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.cal-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.cal-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-family: inherit;
    flex-basis: 20%;
    font-size: 24px;
    height: 65px;
}

.cal-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background-color: #232323;
}

.cal-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.cal-button:hover{
    background-color: inherit;
    color: inherit;
}

.double {
    flex-basis: 47%;
}

.triple {
     flex-basis: 73%;
}
